Source: bloonix-wtrm
Section: net
Priority: extra
Maintainer: Jonny Schulz <js@bloonix.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://www.bloonix.de/

Package: bloonix-wtrm
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bloonix-core, bloonix-fcgi, bloonix-plugins-wtrm, libgetopt-long-descriptive-perl, libjson-perl, libjson-xs-perl, liblog-handler-perl, libparams-validate-perl, openssl
Description: Bloonix wtrm daemon
 bloonix-wtrm provides the bloonix wtrm daemon.
